@font-face {
    font-family: OpenSans-Regular;
    src: url(../../fonts/OpenSans-Regular.ttf);
  }

  @font-face {
    font-family: CeraRoundPro-Bold;
    src: url(../../fonts/TypeMates\ -\ CeraRoundPro-Regular.otf);
  }